.contentWrap {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;

  h3 {
    margin-left: 1rem;
  }

  .photos {
    width: 100%;
    height: 100%;
    margin: 0.3rem 0;
    display: flex;
    flex-wrap: wrap;

    .photosItem {
      width: calc(20% - 0.625rem);
      height: 9.375rem;
      margin: 0.3125rem;
      border: 1px solid rgb(92, 92, 212);
      display: flex;

      img {
        width: 100%;
        display: block;
        position: relative;
      }

      span {
        display: inline-block;
        align-self: flex-end;
        position: absolute;
        margin-left: 0.3rem;
      }
    }
  }
  .backBtn {
    width: calc(20% - 0.625rem);
    height: 2rem;
    margin: 0.3125rem;
    font-size: 1rem;
    font-weight: 700;
    background: rgb(65, 85, 121);
    color: #fff;
    border: none;

    &:hover {
      cursor: pointer;
      background: rgb(90, 106, 133);
    }

    &:active {
      cursor: pointer;
      background: rgb(65, 85, 121);
    }
  }
}
